@font-face {
    font-family: 'Roboto';
    src: url(font/Roboto-Regular.ttf);
}
@font-face {
font-family: 'Roboto-ThinItalic';
    src: url(font/Roboto-LightItalic.ttf);
}   

html {
    background-color: black;
}
* {
    font-family: 'Roboto';
    margin: 0px;
}

/* Header style section */
.main-container {
    background-color: #1F2937;
    padding-top: 20px; 
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px 75px;
}

.container1 {
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 75px;
    /*border: 2px red;
    border-style: dashed;
    */
}

h1 {font-size: 24px;
color: #F9FAF8;
}

.herotekst{
    font-size: 48px;
    font-weight: 900;
}
.herosubtxt {
    font-size: 18px;
    font: #d4d6da;
    padding-right: 50px;
}

.menu {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
    font: #E5E7EB;
    gap: 25px;
}

a:link {
    color: #E5E7Eb;
    text-decoration: none; 
}
a:hover {
    color: rgb(226, 226, 115);
    text-decoration: none;
}

.img1 {
    width: 450px;
    height: auto;
}

button {
    color: white;
    font-size: 18px;
    background-color: #3882f6;
    padding: 10px 24px;
    border-radius: 8px;
    margin-top: 20px;
}

/* body style section */

body {
    display: block;
}

h2 {
    text-align: center;
    padding: 25px 0px;
    font-size: 36px;
    font: #1F2937; 
    font-weight: 700;
}

.main-container2 {
    background-color: white;
    padding-top: 20px; 
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px 75px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    padding: 0px 150px 100px 150px;
}

.kolom1 {
    width: 150px;
}
.img2 {
    border-image: 5px;
    color: rgb(42, 42, 177);
    border-style: solid;
    border-radius: 10%;
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
    padding: 2px;
    
}

.main-container3 {
    background-color: #E5E7EB;
    padding-top: 20px; 
    padding-bottom: 200px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px 75px;
    align-items: center;
    border: 2px purple;
    border-style: dashed; 
}

.quote {
    font-family: 'Roboto-ThinItalic';
    font-size: 36px;
    font: #1f2937;
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
}
.quote2 {
    text-align: right;
    padding-right: 10%;
    font-size: 24px;
    font-weight: bold;
}

.container3 {
    display: flex;
    background-color: #3882f6;
    height: 150px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 100px 150px 0px 150px;
    padding-left: 50px;
    padding-right: 50px;

}

.action1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}
.action2 {
    color: white;
}
.action-button {
    border: 2px solid white;
    padding: 5px 35px;   
    border-radius: 10pt;
    font-weight: bold;
    color: white; 
}
.action-button:hover {
    background-color: rgb(255, 251, 0);
    border: 2px dotted rgb(0, 5, 77);
    border-radius: 10pt;
    color:rgb(0, 5, 77);
    font-weight: bold;
}

.main-container-header {
    /*display: flex;*/
   
    background-color: #1F2937;
    padding: 20px;
    margin: 0px 75px;
    text-align: center;
    color: white;
    
}